.chartBuilder {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.chartBuilderMenu {
    width: calc(100% - 500px);
    height: 40px;
    display: block;
    top: 0;
    left: 450px;
    border-radius: 0 0 6px 6px;
    margin: 0 auto;
    padding: 0;
    z-index: 2;
    position: fixed;
    background-color: #131313;
}