.tabWrapper {
    text-align: center;
    margin: 32px 0 16px 0;
}

.tabHeading {
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
    width: 100%;
    gap: 8px;
}

.tabLabel {
    color: black;
    background-color: lightgray;
    border-radius: 6px 6px 0 0;
    padding: 4px;
    font-size: 1rem;
}
.tabLabelActive {
    color: var(--text-color);
    background-color: #131313;
    border-radius: 6px 6px 0 0;
    padding: 4px;
    font-size: 1rem;
}


.tabContent {
    text-align: left;
    background-color: #131313;
    border-radius: 0 6px 6px;
    max-height: 480px;
    margin-top: 3px;
    overflow: visible;
    padding: 16px;
}