.appContainer {
    display: grid;
    position: absolute;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr;
}

.sideBarContainer {
    align-items: center;
}

.chartBuilderContainer {
    width: 75vh;
    text-align: center;
}
