.sideBar {
    text-align: left;
    position: fixed;
    width: 400px;
}

.title {
    text-align: center;
    margin: 20px;
}

.title h1 {
    font-size: 60px;
    font-weight: bold;
    color: #ff5555ff;
    transform: rotate(-5deg);
    margin: 0;
    filter: drop-shadow(10px 10px 0.25rem black)
}