.optionsList {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.rangeInputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sliderContainer {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.input {
    padding: 8px;
    border: none;
    border-radius: 4px;
}