.optionsList {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.rangeInputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sliderContainer {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.slider {
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.switchInputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switchContainer {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switchLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 50px;
    height: 25px;
    background: gray;
    border-radius: 50px;
    position: relative;
    transition: background-color .2s;
}

.switchButton {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transition: 0.2s;
    background: white;
    box-shadow: 0 0 2px rgba(10,10,10,0.29);
}

.switch:checked + .switchLabel .switchButton {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}